<!DOCTYPE html>
<html>
<head>
    <!--<link th:href="@{/css/style.css}" rel="stylesheet"> -->
    <title>Lihat Info Heirs</title>
</head>
<body>
    <h2>Maklumat Waris</h2>
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th>IC</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="isteri : ${isteriDetail}">
                <td th:text="${isteri.name}"></td>
                <td th:text="${isteri.ic}"></td>
                <td style="text-align: right;">
                    <form action="/user/heirs/delete/{id}(id=${isteri.id})" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <tr th:each="anakLelaki : ${anakLelakiDetail}">
                <td th:text="${anakLelaki.name}"></td>
                <td th:text="${anakLelaki.ic}"></td>
                <td style="text-align: right;">
                    <form action="/user/heirs/delete/{id}(id=${anakLelaki.id})" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <tr th:each="anakPerempuan : ${anakPerempuanDetail}">
                <td th:text="${anakPerempuan.name}"></td>
                <td th:text="${anakPerempuan.ic}"></td>
                <td style="text-align: right;">
                    <form action="/user/heirs/delete/{id}(id=${anakPerempuan.id})" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="/user/heirs/add">Isi Maklumat Waris</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
